 <%= form_tag search_jobs_path, method: :get, class: 'navbar-form navbar-center'  do %>
   <div class="input-group">
     <input type="text" class="form-control query"  name="q" value="<%= params[:query_string] %>"
                 placeholder="职位、公司、地点 ...">
     <span class="input-group-btn">
       <button class="btn btn-default query" type="submit">
         <span class="glyphicon glyphicon-search"></span>
       </button>
     </span>
   </div>
 <% end %>
