 <%= form_tag search_jobs_path, method: :get, class: 'navbar-form navbar-left'  do %>
   <div class="form-group">
     <input type="text" class="form-control query"  name="q" value="<%= params[:query_string] %>"
                 placeholder="职位、公司、地点 ...">
   </div>
  <button type="submit" class="btn btn-default query">
    <span class="glyphicon glyphicon-search"></span>
  </button>
 <% end %>
