<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1 class="text-center">收藏的简历</h1>

      <hr/>
      <%= render partial: "favos", collection: @resumes, as: :resume %>
    </div>
  </div>
</div>
