<h1 class="text-center">投递到 - <%= @job.title %> - 的简历</h1>

<hr/>
<% @resumes.each do |resume| %>
<div class="panel panel-default">
    <div class="panel-heading">
      <%= resume.user.email %>
    </div>
    <div class="panel-body">
      <%= simple_format(resume.content) %>
        <hr/>
        <% if resume.attachment.present? %>
        <i class="fa fa-paperclipe"></i>
        <%= link_to "Download Resume", resume.attachment_url %>
      <% else %>
        No attachment
      <% end %>
    </div>
</div>
<% end %>
