/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 //----background-color------
 body {
   background-color: #f2f2f5;
   line-height: 28px;
 }

//---admin layout----
 div.container-fluid .col-sm-offset-1 .col-sm-2 {
   background-color: #f8f9fb;
 }

 div.container-fluid .col-sm-offset-1 .col-sm-10 {
   background-color: #ffffff;
   margin:0;
 }


//-----排序按钮 & add a job button-------
div.btn-group.pull-right {
  margin-top: 20px;
  margin-right: 40px;
}

 //----Style The Navbar------
 .navbar {
    margin-bottom: 0;
    background-color: #283e4a;
    border: 0;
    // font-size: 11px !important;
    // letter-spacing: 4px;
    opacity:0.98;
    z-index: 10;
}

@media (min-width: 768px) {
   .navbar {
     border-radius: 0; //圆角为0
   }
 }

 /* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand {
    color: #c5cfd6 !important;
}

// /* On hover, the links will turn white */
// .navbar-nav li a:hover,
.navbar-brand:hover{
    color: #fff !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
}

/* On hover, the dropdown links will turn */
 .dropdown-menu li a:hover {
    color: #fff !important;
    background-color: #283e4a!important;
}

ul.dropdown-menu {
  padding: 0;
}

/* Dropdown */
.open .dropdown-toggle {
    color:  #fff !important;
    background-color:  #283e4a !important;
}

//-----edit lag-picture-------
// background-image: image-url("rails.png")

.jumbotron {
  background-image: image-url("welcome-layout.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 110px;
  margin-top: 0;
  padding-bottom: 110px;//内部的底部边距，这样按钮不会很靠近底部了
  border-radius: 0;//圆角为0
  // opacity:0.2;
  z-index: -1;
  // filter: grayscale(60%);
  height :750px;
  // bottom: 0;
}
.jumbotron a:hover {
  text-decoration: none;
}

.admin-layout .jumbotron {
  background-image: image-url("admin-layout.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0;//圆角为0
  // opacity:0.8;
  // filter: grayscale(60%);
  height :150px;
  margin-bottom: 0;
}

.jobs-layout .jumbotron {
  background-image: image-url("jobs-layout.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0;//圆角为0
  // opacity:0.8;
  // filter: grayscale(60%);
  height :150px;
  margin-bottom: 0;
}
.jumbotron h1.admin,
.jumbotron h1.jobs {

  color: #fc6c38;

  margin-top: -15px;
}
.intro a.btn-lg {
  margin-bottom: 60px;
  margin-top: 20px;
  // border: solid red 3px;
}

//----------网站介绍---------
.intro {
  background-color: #f2f2f2;
  // margin: 60px -15px;
  padding: 30px 0 50px 0;

  // border: solid #fff 3px;
}
 .intro .lead {
   text-align: center;
   margin-top: 20px;
   margin-bottom: 10px;
 }
  .intro .title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    //  border: solid red 3px;

  }

  .intro p {
    text-align: center;
    font-size: 20px;
    line-height: 56px;
    word-spacing: 20px;
    //  border: solid red 3px;

  }

  //------thumbnail-------
  .language {
    background-color: #fff;
    padding: 60px 0 90px;
  }

  .language h2 {
    margin-top: 20px;
    margin-bottom: 40px;
    // border: solid red 3px;
  }

  .language p {
    text-align: center;
    font-size: 20px;
    margin-bottom: 60px;
  }

  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
    // height: 200px;
    // width: 150px;
  }

  .thumbnail img {
      height: 150px;
      width: 150px;
      // width: 100%;
      // height: 100%;
      margin-bottom: 10px;
  }

  // -------页脚------
  * {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}

  #wrap {
    min-height: 100% ;

  }

  #main {
  overflow: auto;
  padding-bottom: 60px ;/* must be same height as the footer */
  }

  #footer {
    position: relative;
    margin-top: -60px ; /* negative value of footer height */
    height: 60px ;
    clear: both;
  }

  footer {
      background-color: #283e4a;
      color: #f5f5f5;
      padding: 6px;
  }

  footer a {
      color: #c5cfd6;
  }

  footer a:hover {
      color: #fff;
      text-decoration: none;
  }
  //---------提示信息---------
  .alert {
    margin: 0;
  }

  //-------登录页面------
  #myModal {
    margin: 0;
    height: 800px;
    background-image: image-url("devise.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(10%);
  }
  #devise {
    margin: 0;
    height: 600px;
    background-image: image-url("devise.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(10%);
  }

  .modal-body,
  #log-in,
  #sign-up {
    padding: 40px 50px;
    width: 530px;
    opacity:0.97;
    background-color: white;
    // height: 500px;
    margin: 0px auto;
    // border: red solid 3px;
  }
  #myModal h4,
  #devise h2 {
    text-align: center;
  }
// -------分页-------
.digg_pagination {
  margin-bottom: 20px;
  text-align: center;
  background: #f2f2f5;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
  }
  .digg_pagination .disabled {
    margin: 0;

    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    margin: 0;

    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination:after {
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }

//-------job-list应征页面边栏----------
div.row .col-sm-3 .btn-group-vertical{
  padding: 0;
  background-color: #f8f9fb;
  display: block;
  // border: red solid 3px;
}

div.row .col-sm-3 .job-menu {
  padding: 0;
}

.job-menu dl:hover {
  background-color: #fff;
  color: #5dd5c9;

}

.job-menu a {
  color: #61687c;
}

.job-menu a:hover,
.job-menu a:focus {
  color: #5dd5c9;
  text-decoration: none;
}

.job-menu {
    background: #f8f9fb;
    color: #61687c;
    position: relative;
    z-index: 20;
}

.job-menu dl {
    padding: 10px 0;
    border: 1px #f8f9fb solid;
    zoom: 1;
    margin: 0;
    color: #61687c;
}

dl {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.job-menu dt {
  font-size: 18px;
  padding: 0 32px;
  line-height: 32px;
  padding-top: 8px;
}

.job-menu dd {
  padding: 8px 30px 10px 18px;
  width: 260px;
  text-align:center;
}

div.divider {
  border: 3px #f2f2f5 solid;
  padding-left: 100px;
  // margin: 0 10px;
}


//-----jobs/index应征页面-----
ul.job-list {
  margin-top: 21px;
  background-color: #ffffff;

}

// li.job-primary {
//     padding: 22px 40px;
//     border: 10px #f2f2f5 solid;
//     // border-bottom: 1px #a8b6d4 solid;
//     overflow: hidden;
// }

div.info-primary .job.list h3 {
  color: #61687c;
}

.job-primary .info-primary {
    float: left;
    color: #4a4160;
}

.red {
    color: #fc703e;
}

.info-time {
    margin-top: 37px;
    margin-bottom: 0;
    float: right;
    color: #61687c;
}

li.job-primary p {
    margin-top: 17px;
    margin-bottom: 0;
}

li.job-primary {
    padding: 22px 40px;
    border-bottom: 1px #f2f2f5  solid;
    overflow: hidden;
    background-color: #ffffff;

}

li.job-primary:hover ,
li.job-primary:focus {
  background-color: #f8f9fb;

}
