/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 //----background-color------
 body {
   background-color: #f2f2f5;

 }
//----application layout---
 div.jobs-layout {
   background-color: #ffffff;
 }
//---admin layout----
 div.container-fluid .col-sm-offset-1 .col-sm-2 {
   background-color: #f8f9fb;
 }

 div.container-fluid .col-sm-offset-1 .col-sm-10 {
   background-color: #ffffff;
 }

//------refine admin table---------
// // ------layout margin-top------
// .admin-layout,
// .jobs-layout {
//   margin-top: 50px;
// }
//
// .welcome-layout {
//   margin-top: 50px;
// }
//-----排序按钮 & add a job button-------
.pull-right button,
.pull-right .new-job{
  margin-top: 20px;
}
.custab{
  border: 1px solid #ccc;

  padding: 5px;
  margin: 5% 0;
  // box-shadow: 3px 3px 2px #ccc;
  //
  // transition: 0.5s;
}

.custab:hover{
  // box-shadow: 3px 3px 0px transparent;
  // transition: 0.5s;
}

 //----Style The Navbar------
 .navbar {
    margin-bottom: 0;
    background-color: #283e4a;
    border: 0;
    // font-size: 11px !important;
    // letter-spacing: 4px;
    opacity:0.98;
    z-index: 10;
}

@media (min-width: 768px) {
   .navbar {
     border-radius: 0; //圆角为0
   }
 }

 /* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand {
    color: #c5cfd6 !important;
}

// /* On hover, the links will turn white */
// .navbar-nav li a:hover,
.navbar-brand:hover{
    color: #fff !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
}

/* On hover, the dropdown links will turn */
 .dropdown-menu li a:hover {
    color: #fff !important;
    background-color: #283e4a!important;
}

/* Dropdown */
.open .dropdown-toggle {
    color:  #fff !important;
    background-color:  #283e4a !important;
}

//-----edit lag-picture-------
// background-image: image-url("rails.png")

.jumbotron {
  background-image: image-url("jobs-layout.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 110px;
  margin-top: 0;
 //  border: solid red 3px;
  padding-bottom: 110px;//内部的底部边距，这样按钮不会很靠近底部了
  margin: 0 -15px;//顶部margin为0，因此可以直接接着导航栏；左右margin为负15，因此可以顶到浏览器的边缘（抵消 container-fluid 的 15px 左右padding);底部margin为20，会跟下面的内容撑开距离
  border-radius: 0;//圆角为0
  opacity:0.8;
  filter: grayscale(60%);
  height :450px;
}
.admin-layout .jumbotron,
.jobs-layout .jumbotron {
  background-image: image-url("jobs-layout.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0;//圆角为0
  opacity:0.8;
  filter: grayscale(60%);
  height :150px;
  // border: solid red 3px;
  margin-bottom: 0;
}

.intro a.btn-lg {
  margin-bottom: 60px;
  margin-top: 20px;
  // border: solid red 3px;
}

//----------网站介绍---------
.intro {
  background-color: #f2f2f2;
  margin: 0 -15px;
  // border: solid #fff 3px;
}
 .intro .lead {
   text-align: center;
   margin-top: 20px;
   margin-bottom: 10px;
 }
  .intro .title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    //  border: solid red 3px;

  }
  // <i class="fa fa-pencil"></i>
  // <i class="fa fa-pencil-square-o"></i>
// <i class="fa fa-trash-o"></i>
  .intro p {
    text-align: center;
    font-size: 20px;
    //  border: solid red 3px;

  }

  //------thumbnail-------
  .language {
    background-color: #fff;
  }

  .language h2 {
    margin-top: 20px;
    // margin-bottom: 40px;
    // border: solid red 3px;
  }

  .language p {
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
  }

  .thumbnail {
    padding: 0 0 15px 0;
    // border: none;
    border-radius: 0;
    // height: 200px;
    // width: 150px;
  }

  .thumbnail img {
      height: 150px;
      width: 150px;
      // width: 100%;
      // height: 100%;
      margin-bottom: 10px;
  }

  // -------页脚------
  * {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}

  #wrap {
    min-height: 100% ;

  }

  #main {
  overflow: auto;
  padding-bottom: 60px ;/* must be same height as the footer */
  }

  #footer {
    position: relative;
    margin-top: -60px ; /* negative value of footer height */
    height: 60px ;
    clear: both;
  }

  footer {
      background-color: #283e4a;
      color: #f5f5f5;
      padding: 6px;
  }

  footer a {
      color: #c5cfd6;
  }

  footer a:hover {
      color: #fff;
      text-decoration: none;
  }

    // @import url(http://fonts.googleapis.com/css?family=Roboto);

    /****** LOGIN MODAL ******/
    .loginmodal-container {
      padding: 30px;
      max-width: 350px;
      // width: 100% !important;
      background-color: #F7F7F7;
      margin: auto;
      border-radius: 2px;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      overflow: hidden;
      font-family: roboto;
    }

    .loginmodal-container h1 {
      text-align: center;
      font-size: 1.8em;
      font-family: roboto;
    }

    .loginmodal-container input[type=submit] {
      width: 100%;
      display: block;
      margin-bottom: 10px;
      position: relative;
    }

    .loginmodal-container input[type=text], input[type=password] {
      height: 44px;
      font-size: 16px;
      width: 100%;
      margin-bottom: 10px;
      -webkit-appearance: none;
      background: #fff;
      border: 1px solid #d9d9d9;
      border-top: 1px solid #c0c0c0;
      /* border-radius: 2px; */
      padding: 0 8px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
    }

    .loginmodal-container input[type=text]:hover, input[type=password]:hover {
      border: 1px solid #b9b9b9;
      border-top: 1px solid #a0a0a0;
      -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
      -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
      box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    }

    .loginmodal {
      text-align: center;
      font-size: 14px;
      font-family: 'Arial', sans-serif;
      font-weight: 700;
      height: 36px;
      padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
      user-select: none; */
    }

    .loginmodal-submit {
      /* border: 1px solid #3079ed; */
      border: 0px;
      color: #fff;
      text-shadow: 0 1px rgba(0,0,0,0.1);
      background-color: #4d90fe;
      padding: 17px 0px;
      font-family: roboto;
      font-size: 14px;
      /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
    }

    .loginmodal-submit:hover {
      /* border: 1px solid #2f5bb7; */
      border: 0px;
      text-shadow: 0 1px rgba(0,0,0,0.3);
      background-color: #357ae8;
      /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
    }

    .loginmodal-container a {
      text-decoration: none;
      color: #666;
      font-weight: 400;
      text-align: center;
      display: inline-block;
      opacity: 0.6;
      transition: opacity ease 0.5s;
    }

    .login-help{
      font-size: 12px;
    }


// -------分页-------
.digg_pagination {
  margin-bottom: 20px;
  text-align: center;
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
  }
  .digg_pagination .disabled {
    margin: 0;

    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    margin: 0;

    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination:after {
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }
