<div id="backtotop">
  <a href="#myPage" class="btn-backtotop" data-toggle="tooltip" title="还回顶部">
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
  </a>
</div>
<footer class="text-center">
  <!-- <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="还回顶部">
    <span class="glyphicon glyphicon-chevron-up"></span>
    <i class="fa fa-2x fa-arrow-up" aria-hidden="true"></i>
  </a> -->
  <p>Copyright ©2017 Design by <a href="http://chanweiyan.logdown.com">陈威严</a>
  </p>
</footer>
